/* Estilos comunes */

    /* Tipografía Inter */
    * {
        font-family: "Inter", sans-serif;
    }

    /* Formatear relleno y margen */
    * {
        padding: 0rem;
        margin: 0rem;
        list-style-position: inside;
    }

    /* Ancho de página */

    main, nav, .pie {
        max-width: 1024px;
        margin: 2rem auto;
    }

    /* Degradado de fondo */

    body {
        background: linear-gradient(to top, #F5E3C3, #ffffff);
    }

    /* LI del menú */

    .li-menu {
        list-style: none;
    }

    /* Enlaces del menú */

    .a-menu {
        text-decoration: none;
        color: #F5E3C3;
        font-weight: 400;
    }

    .a-menu:hover {
        color: #ffffff;
    }

    /* UL de menú */

    .ul-menu {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        gap: 2rem;
        width: 40%;
    }

    /* Contenedor Logo/SVG */

    .logo-svg {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    /* Animación del corazón */

    .latido {
        animation: latir 1.2s infinite;
        transform-origin: center;
      }
  
      @keyframes latir {
        0%, 80% { transform: scale(1); }
        30% { transform: scale(1.15); }
      }

    /* Menú de navegación */

    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    /* Página activa del menú */

    .a-activo {
        text-decoration: underline;
    }

    /* Fondo y relleno del header y el footer */

    header, footer {
        padding: 0.5rem 1.5rem;
        background: #6B4226;
    }

    /* Logo de la web */

    .logo {
        color: #F5E3C3;
        font-size: 1.5rem;
        font-weight: 600;
        font-family: 'Times New Roman', Times, serif;
        text-decoration: none;
    }

    /* Footer */

    .pie {
        display: flex;
        justify-content: space-between;
        color: white;
        font-weight: 300;
    }

    /* Relleno de main */

    main {
        padding: 1rem 0rem;
    }

    /* H2 */

    .h2-section {
        padding-bottom: 1rem;
    }

    /* H1 */

    .header1 {
        color: #6B4226;
        font-weight: 500;
        margin-bottom: 0.5rem;
    }

    /* Párrafo de introducción */

    .p-intro {
        font-size: 1.2rem;
    }

    /* Animación de fade-in: de abajo a arriba */

    @keyframes fadeInY {
        from {
            opacity: 0;
            transform: translateY(20px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    .fade-inY {
        animation: fadeInY 1s ease-out forwards;
    }

    /* Animación de fade-in: de izquierda a derecha */

    @keyframes fade-inx {
        from {
          opacity: 0;
          transform: translateX(-20px);
        }
        to {
          opacity: 1;
          transform: translateX(0);
        }
      }
      
      .fade-inx {
        animation: fade-inx 1s ease-out forwards;
      }
      
    /* Zoom en el hover de imágenes */

    .img-zoom-hover, .img-zoom-hover-category {
        transition: transform 0.5s ease;
    }

    .img-zoom-hover:hover, .img-zoom-hover-category:hover {
        transform: scale(1.05);
    }

    /* Fade in de texto */

    @keyframes fadeInText {
        from {
          opacity: 0;
          transform: translateY(20px);
        }
        to {
          opacity: 1;
          transform: translateY(0);
        }
      }
      
      .text-fade-in {
        animation: fadeInText 0.8s ease-out forwards;
      }
      
    /* Fade in de texto sin desplazamiento */

    @keyframes fadeInOnly {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }
      
      .texto-aparece {
        opacity: 0;
        animation: fadeInOnly 1s ease forwards;
        animation-delay: 0.1s; /* opcional */
      }
      

/* Estilos de categoria.html */

    /* Swiper */

    .mySwiper {
        background-color: white;
        padding: 1.5rem 1.5rem;
        border-radius: 1rem;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.08);
    }

    /* H2 swiper */

    .h2-swiper {
        margin: 1.5rem 0rem 1.5rem 0rem;
        font-weight: 400;
        color: #6B4226;
    }

    /* Grid */

    .lista-categoria {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 2rem;
        row-gap: 1rem;
        margin-top: 1rem;
        list-style: none;
    }

    /* Contenedor de cada pastisset */

    main > section > ul > li > article {
        display: flex;
        flex-direction: column;
        background: #fbfbfb;
        gap: 1rem;
        margin: 1rem 0rem;
        padding: 1.5rem 1.5rem;
        border-radius: 1rem;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.08);
    }

    /* Imagen de producto */

    .imagen-producto {
        width: 100%;
        height: auto;
        border-radius: 1rem;
    }

    /* Header 3 de los pastissets */

    .h3-producto {
        font-size: 1.3rem;
    }

    .h3-producto, .h2-section, h1 {
        font-weight: 400;
        color: #6B4226;
    }

    /* Texto de los párrafos */

    .p-producto {
        color: #8B5E3B;
    }

    /* Botón de los contenedores */

    .boton-producto {
        text-decoration: none;
        padding: 10px 20px;
        border-radius: 0.5rem;
        background-color: #304ADB;
        display: inline-block;
        color: #ffffff;
        width: max-content;
        transition: background-color 0.6s ease;
    }

    .boton-producto:hover, .boton-sinfondo:hover {
        background-color: #EAD7B7;
    }

    /* MOBILE */
    @media (max-width: 399px) {

        main > section > ul {
            display: flex;
            flex-direction: column;
        }

        main {
            margin: 1rem 1.5rem;
        }

        .pie, nav, .ul-menu {
            display: flex;
            flex-direction: column;
            text-align: center;
            gap: 1rem;
        }

        .lista-categoria {
            display: flex;
        }

    }

    /* TABLET */
    @media (max-width: 900px) {

        main {
            margin: 1rem 1.5rem;
        }

        .pie {
            padding: 0;
        }
    }

/* Estilos de detalle .html */

    .paso-preparacion {
        background: white;
        padding: 1.5rem 1.5rem;
        margin: 0rem 0rem 2rem 0rem;
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.08);
    }

    .textos-preparacion {
        display: flex;
        flex-direction: row;
    }

    .img-preparacion {
        width: 150px;
        height: auto;
        border-radius: 0.5rem;
    }

    .img-destacada {
        width: 400px;
        height: auto;
        border-radius: 0.5rem;
    }

    .hero-receta {
        display: flex;
        align-items: center;
        gap: 2rem;
    }

    .hero-derecha {
        display: flex;
        flex-direction: column;
    }

    .titulo-paso {
        padding: 1rem 1rem;
    }

    .fondo-paso {
        background: linear-gradient(to right, #e6d9cf, #ffffff);
        width: 100%;
        border-radius: 0.5rem;
        margin-bottom: 1rem;
    }

    .boton-sinfondo {
        text-decoration: none;
        padding: 10px 20px;
        border-radius: 0.5rem;
        border: #304ADB 1px solid;
        display: inline-block;
        color: #304ADB;
        width: max-content;
    }

    .botones {
        margin-top: 1rem;
    }

    /* Contenedor div de un conjunto de ingredientes */

    .contenedor-ingredientes {
        background: white;
        padding: 1rem 1rem;
        margin: 2rem 0rem 2rem 0rem;
        border-radius: 0.5rem;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.08);
    }

    .contenedor-subingredientes {
        list-style: none;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin: 1rem 0rem 0rem 0rem;
    }

    .ingrediente {
        display: flex;
        width: 100%;
        justify-content: space-between;
        border-bottom: #e6d9cf dotted 1.5px;
        padding-bottom: 0.3rem;
    }

    .h3-ingredientes {
        margin: 1rem 0rem;
        font-weight: 400;
        color: #8B5E3B;
    }

    /* Espacio a la izquierda de los pasos de la receta */

    .pasos-receta {
        padding-left: 1rem;
    }

    /* Estilo del número de la lista de los pasos */

    .pasos-receta ::marker {
        color: #8B5E3B;
        font-weight: 500;
    }

    /* Espacio entre los elementos */

    .pasos-receta li:not(:last-child) {
        margin-bottom: 0.5rem;
    }

    /* Título h3 de conjunto de ingredientes */

    .titulo-conjunto-ingredientes {
        font-weight: 500;
        font-size: 1.1rem;
        color: #6B4226;
    }

    .section-ingredientes {
        margin-top: 2rem;
    }

    /* Vídeo de la receta */

    iframe {
        width: 100%;
        height: 400px;
        margin: 0.5rem 0rem 1.5rem 0rem;
        border: 0;
        border-radius: 1rem;
    }

        /* MOBILE */
        @media (max-width: 399px) {

            .textos-preparacion {
                flex-direction: column;
                gap: 1rem;
            }

            .img-preparacion {
                width: 100%;
                height: auto;
            }

            .pasos-receta {
                padding-left: 0rem;
            }
    
            .pasos-receta li:not(:last-child) {
                margin-bottom: 1rem;
            }

            .hero-receta {
                flex-direction: column;
            }

            .img-destacada {
                width: 100%;
            }
        }

/* Inicio */

    /* Ul de los pasissets populares */

    .lista-index {
        display: flex;
        gap: 2rem;
        list-style: none;
    }

    /* Container de las recetas destacadas */

    .receta-mes {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: white;
        padding: 1.5rem;
        margin: 1rem 0rem 3rem 0rem;
        border-radius: 1rem;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.08);
        align-items: center;
    }

    /* H2 de la home */

    .h2-section-home {
        font-weight: 400;
        color: #6B4226;
        padding: 0rem;
    }

    /* Subcontainer de las últimas recetas: parte derecha */

    .receta-destacada-derecha {
        width: 70%;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    /* Subcontainer de las últimas recetas: parte izquierda */

    .receta-destacada-izquierda {
        width: 30%;
    }
    
    /* Estilo de las últimas recetas */

    .img-receta-mes {
        width: 80%;
        height: auto;
        border-radius: 1rem;
    }

    /* Texto "no te lo puedes perder */

    .no-perder {
        text-transform: uppercase;
        font-weight: 500;
        color: #6B4226;
        background-color: #F5E3C3;
        font-size: 0.6rem;
        width: max-content;
        padding: 0.5rem;
        border-radius: 0.3rem;
    }

    /* Pseudobotón sin fondo */

    .enlace-sinfondo {
        margin: 0.5rem 0rem;
        display: inline-block;
        color: #304ADB;
    }

    /* Container above the folder */

    .abv {
        display: flex;
        flex-direction: column;
        justify-content: center; /* Centra verticalmente */
        align-items: center; /* Centra horizontalmente */
        gap: 1rem;
        background: linear-gradient(to right, #e6d9cf, #ffffff);
        height: 400px;
        border-radius: 1rem;
        text-align: center; /* Asegura que el texto dentro de los elementos hijos esté centrado */
        margin-bottom: 3rem;
        padding: 0rem 2rem;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.08);
    }

    /* H1 de la home */

    .h1-home {
        font-size: 2rem;
    }

    /* Párrafo above the folder */

    .p-abv {
        font-size: 1.5rem;
        font-weight: 400;
        width: 80%;
        color:#8B5E3B;
    }
    
            /* MOBILE */
            @media (max-width: 399px) {

                .p-abv {
                    width: 100%;
                    font-size: 1.3rem;
                }

                .p-intro {
                    font-size: 1rem;
                }

                .receta-mes {
                    flex-direction: column;
                    gap: 1rem;
                }

                .img-receta-mes {
                    width: 100%;
                }

                .receta-destacada-derecha, .receta-destacada-izquierda {
                    width: 100%;
                }
            }

/* Estilos de enlaces.html */

    /* Container del recurso */

    .caja-recurso {
        background: white;
        padding: 1.5rem 1.5rem;
        margin: 0rem 0rem 2rem 0rem;
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.08);
        gap: 1rem;
    }

    /* Separación de los recursos */

    .recursos {
        margin-top: 1rem;
    }